<a href="https://colab.research.google.com/github/thirumaleshyadav220-netizen/pandas-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
values=[10,20,30,40,50,60,70,80]
a=pd.Series(values,name='marks')
print(a)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
Name: marks, dtype: int64

In [6]:
import pandas as pd
r=range(100)
a=list(r)
s=pd.Series(a)
print(s)

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64