<a href="https://colab.research.google.com/github/thirumaleshyadav220-netizen/pandas-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
values=[10,20,30,40,50,60,70,80]
a=pd.Series(values,name='marks')
print(a)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
Name: marks, dtype: int64

In [6]:
import pandas as pd
r=range(100)
a=list(r)
s=pd.Series(a)
print(s)

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [16]:
import pandas as pd
v=[244,453,5467,6856,5574,65756,347]
s=pd.Series(v,name='htno',index=['a','b','c','d','e','f','g'])
print(s)
print(s['a'])
print(s['c'])
print(s['f'])

a      244
b      453
c     5467
d     6856
e     5574
f    65756
g      347
Name: htno, dtype: int64
244
5467
65756

In [18]:
import pandas as pd
import numpy as np
marks=[12,13,12,9,8,np.nan,21]
s=pd.Series(marks,name='marks')
print(s)

0    12.0
1    13.0
2    12.0
3     9.0
4     8.0
5     NaN
6    21.0
Name: marks, dtype: float64